XML_2/Q3.DTD

<!ELEMENT OrderDetail (OrderRate, OrderAmount, (ItemPrice, ItemName, Quantity)+)>
<!ATTLIST OrderDetail
          OrderNumber CDATA #REQUIRED
          OrderDate CDATA #IMPLIED>
<!ELEMENT OrderRate (#PCDATA)>
<!ELEMENT OrderAmount (#PCDATA)>
<!ELEMENT ItemPrice (#PCDATA)>
<!ELEMENT ItemName (#PCDATA)>
<!ELEMENT Quantity (#PCDATA)>
