XML_2/Q4.DTD

<!ELEMENT Student (StudentName, PersonalInfo, Result)>
<!ELEMENT StudentName (#PCDATA)>
<!ELEMENT PersonalInfo (Address, Birthdate, Gender, MobileNo)>
<!ELEMENT Address (#PCDATA)>
<!ELEMENT Birthdate (#PCDATA)>
<!ELEMENT Gender (Male | Female)>
<!ELEMENT MobileNo (#PCDATA)>
<!ELEMENT Result (Total, Percentage, Grade)>
<!ELEMENT Total (#PCDATA)>
<!ELEMENT Percentage (#PCDATA)>
<!ELEMENT Grade (Pass | First | Dist. | Second | Fail)>
