XML_2/Q6.DTD

<!ELEMENT Student (Name, ID, Plan)>
<!ELEMENT Name (fname, lname)>
<!ELEMENT fname (#PCDATA)>
<!ELEMENT lname (#PCDATA)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT Plan (courses)>
<!ATTLIST Plan
          year CDATA #REQUIRED>
<!ELEMENT courses (course*)>
<!ELEMENT course (name, shortName, record*)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT shortName (#PCDATA)>
<!ELEMENT record (Grade, date)>
<!ELEMENT Grade (#PCDATA)>
<!ELEMENT date (#PCDATA)>
